# Where should the Next Mid-Ohio Foodbank Panty Be Locatated?

Outline:
- Import panty location data from ____
- Import customer location data from pt_families
- Import census data (identify potential customers with qualifying - actual)
- Plot a map of central Ohio
- Write county lines on Ohio map
- Plot pantry location on Ohio map
- Plot existing customers on Ohio map
- Show proportions of qualifying vs actual customers on county map

In [1]:
import pandas as pd
import folium
import os
os.getcwd()

'C:\\Users\\jorda\\OneDrive\\Documents\\GitHub\\data-io-2019'

In [3]:
pantry_loc_df = pd.read_csv('food-bank-loc/locations.csv')
pantry_loc_df.head()

,loc_id,loc_num,org_id,parent_id,loc_name,loc_nickname,address1,address2,city,state,...,sc_monthly_20,sc_monthly_25,sc_monthly_30,sc_monthly_35,sc_monthly_40,date_added,added_by,last_update,last_update_by,status_id
0,1,1351,1,0,Lutheran Social Services ChoicePantry - South ...,LSS Champion,1460 S CHAMPION AVE,NaN,COLUMBUS,OH,...,"120,159,254,219,281,308,265,278,291,297,379,36...","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0",17/2/2012 05:47:27,1,18/10/2019 12:35:27,1,1
1,2,1354,1,0,Lutheran Social Services ChoicePantry - West C...,LSS West,NaN,NaN,COLUMBUS,OH,...,"78,70,67,108,96,97,83,115,107,151,167,163,50","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0",21/6/2012 16:00:21,1,16/10/2019 14:20:16,1036,1
2,3,1476,1,0,Lutheran Social Services ChoicePantry - Caldwe...,LSS Caldwell,315 MAIN ST,NaN,CALDWELL,OH,...,"101,137,134,121,122,112,100,69,90,92,82,100,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0",17/7/2012 14:58:29,1,15/10/2019 19:34:56,5791,1
3,4,1339,1,0,Lutheran Social Services ChoicePantry - Fairfi...,LSS Lancaster,2045 E MAIN ST,NaN,LANCASTER,OH,...,"151,202,201,137,258,168,157,202,205,227,195,20...","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,1,0,0,5,1,0,0,1,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0",17/2/2012 05:57:17,1,18/10/2019 10:18:39,5791,1
4,6,1521,2,0,Mid-Ohio Foodbank - Kroger Community Pantry,MOF Kroger Pantry,3960 BROOKHAM DR,NaN,GROVE CITY,OH,...,"737,898,988,710,848,1289,1697,732,668,924,808,...","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,1,0,1,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0,0",17/2/2012 06:00:08,1,19/10/2019 08:08:11,596,1